/* *** accounts details table *** */
.state--no-data .table-container {
  overflow-x: hidden;
}

.default {
  display: none;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  font-style: italic;
}

.state--loading .default {
  display: block;
}

.default i {
  font-size: 1.5em;
}

.http-message span {
  font-style: italic;
}

.state--no-data thead {
  display: none;
}

table .type,
table .status {
  text-transform: capitalize;
}

/* *** new account opening form *** */
.acct-opening h2 {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  line-height: 1.7;
}

.acct-opening h2:hover {
  border-color: transparent;
}

.new-acct-icon {
  font-size: 2em;
  margin: 0;
  line-height: 0;
  margin-right: 5px;
  font-weight: 400;
}

.form-toggle-container {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.acct-opn-form-visible .form-toggle-container {
  max-height: 1000px;
}
