/* *** bg styles for a specific admin profile *** */
.user-photo__inner {
  background-image: url(../../images/user-profile-placeholder-img.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-clip: content-box;
}

/* *** accts overview container *** */
.default {
  display: none;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  font-style: italic;
}

.state--loading .default {
  display: block;
}

.default i {
  font-size: 1.5em;
}

.http-message span {
  font-style: italic;
}

.accounts-overview__list {
  display: flex;
  flex-flow: row wrap;
}

/* *** account overview card component *** */
.accounts-overview__item {
  width: 100%;
  max-width: 320px;
  padding: 10px 20px;
  margin-top: 11px;
  border-radius: 5px;
  color: goldenrod;
  background: #000;
  background: url(../../images/acct-card-bg.jpg) no-repeat center;
  background-size: cover;
}

@media (min-width: 630px) {
  .accounts-overview__item {
    margin-right: 11px;
  }
}

.accounts-overview__item p {
  margin-bottom: 0.3em;
}

.bank-details,
.account-details,
.account-balance {
  position: relative;
  margin-bottom: 7px;
}

.bank-details {
  font-size: 0.9em;
  margin-bottom: 15px;
}

.bank-details__name {
  font-weight: 700;
}

.bank-details__type {
  float: right;
  text-transform: uppercase;
  font-size: 0.75em;
}

.account-details__name {
  color: goldenrod;
}

.account-details__number {
  font-size: 0.95em;
}

.account-balance {
  margin-bottom: 0;
  text-align: right;
}

.account-balance p:first-child {
  margin-bottom: 0;
  font-size: 0.8em;
}

.account-balance p:nth-child(2) {
  margin-bottom: 0;
  font-size: 1.3em;
  font-weight: 500;
}

/* *** buttons on user (client) dashboard *** */
.btn-user-dashboard {
  width: 100%;
  max-width: 325px;
}

.state--no-data .btn-user-dashboard {
  display: none;
}

/* *** transactions overview section *** */
table {
  min-width: 290px;
  max-width: 660px;
  font-size: 0.95em;
  line-height: 1.3;
}

.state--no-data thead {
  display: none;
}

td {
  vertical-align: top;
}

.transaction-date {
  text-align: left;
}

.transaction-date > span,
.transaction-info > span {
  display: block
}

.transaction-info {
  line-height: 1.5;
}

.transaction-date__day {
  font-weight: 500;
  font-size: 1.25em;
}

.transaction-date__month,
.transaction-date__year, 
.transaction-info__time {
  font-size: 0.9em;
}

.transaction-date__month {
  text-transform: uppercase;
}

.transaction-info .credit {
  color: green;
  position: relative;
}

.transaction-info .debit {
  color: #dd2C00;
  position: relative;
}
