/* *** bg styles for a specific admin profile *** */
.user-photo__inner {
  background-image: url(../../images/leslie-jensen-inman.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-clip: content-box;
}

/* *** accts overview container *** */
.accts-overview__list {
  display: flex;
  flex-flow: row wrap;
}

/* *** account overview card component *** */
.accts-overview__item {
  width: 100%;
  max-width: 300px;
  padding: 10px 20px;
  margin-top: 11px;
  border-radius: 5px;
  color: goldenrod;
  background: url(../../images/acct-card-bg.jpg) no-repeat center;
  background-size: cover;
}

@media (min-width: 630px) {
  .accts-overview__item {
    margin-right: 11px;
  }
}

.accts-overview__item p {
  margin-bottom: 0.3em;
}

.bank-details,
.acct-holder-details,
.acct-bal-details {
  position: relative;
  margin-bottom: 7px;
}

.bank-details {
  font-size: 0.9em;
  margin-bottom: 11px;
}

.bank-name {
  font-weight: 700;
}

.acct-type {
  float: right;
  text-transform: uppercase;
  font-size: 0.75em;
}

.acct-name {
  color: goldenrod;
}

.acct-num {
  font-size: 0.9em;
}

.acct-bal-details {
  margin-bottom: 0;
  text-align: right;
}

.acct-bal-details p:first-child {
  margin-bottom: 0;
  font-size: 0.8em;
}

.acct-bal-details p:nth-child(2) {
  margin-bottom: 0;
  font-size: 1.3em;
  font-weight: 500;
}

/* *** buttons on user (client) dashboard *** */
.btn-user-dashboard {
  max-width: 300px;
  font-weight: 400;
}

.btn-user-dashboard:hover {
  background: #f09d19;
}

/* *** transactions overview section *** */
table {
  min-width: 290px;
  max-width: 660px;
  font-size: 0.95em;
  line-height: 1.3;
}

thead {
  display: none;
}

td {
  vertical-align: top;
}

.txn-date {
  text-align: left;
}

.txn-date > span,
.txn-amnt-time > span {
  display: block
}

.txn-amnt-time {
  line-height: 1.5;
}

.txn-date .day {
  font-weight: 500;
  font-size: 1.25em;
}

.txn-date .month,
.txn-date .year, 
.txn-amnt-time .time {
  font-size: 0.9em;
}

.txn-amnt-time .debit {
  color: green;
  padding-left: 1.4em;
  position: relative;
}

.txn-amnt-time .credit {
  color: #dd2C00;
  padding-left: 1.15em;
  position: relative;
}

.debit::before,
.credit::before {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  font: inherit;
}

.debit::before {
  content: attr(data-sign)'\20A6';
}

.credit::before {
  content: attr(data-sign)'\20A6';
}
