/* *** form for selecting accout to view its txns *** */
.account-selection .form {
  max-width: 550px;
  margin-bottom: 0;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  border: 0;
  display: flex;
  align-content: center;
  flex-flow: row wrap;
}

.account-selection .selectContainer {
  width: 100%;
  max-width: 330px;
  margin-bottom: 22px;
}

@media (min-width: 550px) {
  .account-selection .selectContainer,
  .account-selection .btnContainer {
    margin-bottom: 0;
  }
}

.selectContainer select {
  display: inline-block;
  height: 100%;
}

.btnContainer .btn-form {
  margin-top: 0;
  min-width: 172px;
  border: 1px solid #8b8787;
}

/* *** txns display table *** */
.state--no-data .table-container {
  overflow-x: hidden;
}

.default {
  display: none;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  font-style: italic;
}

.state--loading .default {
  display: block;
}

.default i {
  font-size: 1.5em;
}

.http-message span {
  font-style: italic;
}

.state--no-data thead {
  display: none;
}

.transaction-info__type {
  text-transform: capitalize;
}

table {
  min-width: 880px;
}

.debit .transaction-info__amount {
  color: #dd2C00;
}

.credit .transaction-info__amount {
  color: green;
}
