/* *** delete button in accts display table for cashier *** */
.btn-danger {
  min-width: 65px;
  color: #dd2C00;
}

/* *** action icons in table *** */
.active-account .icon-activate,
.dormant-account .icon-deactivate {
  color: #fff;
  background: #8f8a8a;
  pointer-events: none;
  cursor: not-allowed;
}

.icon-table {
  font-size: 1.2em;
  width: 1.7em;
  height: 1.7em;
  background: transparent;
  border: 1px solid;
  border-radius: 4px;
  padding: 3px;
  margin-right: 5px;
  text-align: center;
}

.icon-table i {
  display: inline-block;
}

.icon-activate {
  color: #3ca374;
}

.icon-deactivate {
  color: #14213d;
}

.icon-delete {
  color: #dd2C00;
}

/* *** modal styles *** */
.modal {
  color: #14213d;
}

.modal--hidden .modal {
  display: none;
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.44);
}

.modal__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
}

.modal-content {
  width: 80%;
  max-width: 330px;
  padding: 30px;
  background-color: #e5e5e5;
  border: 2px solid;
  position: relative;
}

.btn-modal-close {
  width: 25px;
  height: 25px;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.6em;
  text-align: center;
  font-weight: 900;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-modal-close:hover {
  color: #dd2C00;
}

.modal__inner p {
  margin-bottom: 44px;
}

.btn-modal-yes,
.btn-modal-no {
  width: 45%;
  padding: 3px;
  margin-top: 0;
  font-size: 1.1em;
}

.btn-modal-yes {
  color: #dd2C00;
  background: transparent;
  border: 1px solid;
}

.btn-modal-yes:hover {
  box-shadow: 0 0 2px #fff, 0 0 5px #dd2C00, 0 0 10px #dd2C00;
}
